.styled-button {
  border: none;
  background-color: transparent;
  transition: background-color 0.1s ease-in;
  border-bottom: 2px solid black;
  padding:5px;
  margin-right:5px;
  font-size: 1rem;
  font-weight: 500;
}

.styled-button:hover {
  cursor: pointer;
  background-color: #bdb8b8;
}