h3  {
  margin: 0px;
}

.App {
  display: flex;
  justify-content: space-around;
  max-width: 1290px;
  margin: 0 auto;
  color: black;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.control-container {
  flex-grow: 1;
  max-width: 50%;
}

.current-mode {
  text-transform: capitalize;
  font-weight: 500;
  font-size: 1.2em;
  margin-top: 10px;
  margin-bottom: 0px;
  text-align: center;
}

@media only screen and (max-width: 768px) {
  .App {
    flex-direction: column;
  }
  .control-container {
    width: 100%;
    max-width: 100%;
  }
}

input, button {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}